@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.amplify-text,
.amplify-input {
  font-family: 'Source Sans 3', sans-serif;
}

.amplify-button--primary[type='submit'] {
  background-color: #00c5f4;
  border-radius: 50px;
  /* width: 230px; */
  height: 42px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  align-self: end;
  margin-top: 16px;
}

.amplify-button--link {
  color: #b1b5b8;
}

.mt-40 {
  margin: 0;
}

.amplify-tabs__list {
  padding: 0 0 16px 0;
}

.amplify-tabs__item {
}

.amplify-tabs__item--active {
  color: '#FDFEFF';
  border-top: 2px solid #00c5f4;
}

.amplify-tabs__item--active:focus {
  color: '#FDFEFF';
  font-weight: 400;
}

#signUp-tab {
  font-weight: 200;
}

.amplify-label {
  font-size: 14px;
}

.amplify-heading--3 {
  font-size: 24px;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
}

.amplify-field-group__control {
  width: 100%;
}

.amplify-button--small {
  padding-top: 16px;
  text-decoration: underline;
}

p.amplify-text {
  font-size: 14px;
}
