/* ================================================ NAV BAR ================================================== */
.header__nav--open {
  transition: all 0.3s linear;
}

.header--slide-up {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.4s ease-out;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

.header--slide-down {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.4s ease-out;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

/* ================================================ HERO =========================================================== */
.hero__grid-position {
  top: 35%;
}

/* ================================================ MEET OUR STRATEGIC ADVISOR ================================================ */

.btn__cta:hover svg path {
  fill: #00c5f4;
}

/* PRELOADER */
.preloader__bg {
  background-color: #000b13;
}

.preloader__icon {
  animation: preloader_img 1.2s ease-in-out infinite alternate;
}

/* ==============================  Social Icon================================ */

.social-popup__bg {
  background: rgba(0, 0, 0, 0.656);
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px) !important; */
}

/* SLIDER CUSTOM NOTES */
.social-popup__btn svg path {
  fill: white;
}

.social-popup--show:hover .social_btns {
  display: block;
}

.social-popup__scroll--hidden::-webkit-scrollbar {
  width: 0;
}

/* ============================ legal pages ================================= */

.legal__heading {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.legal__body {
  text-align: justify;
  margin-bottom: 1rem;
}

.legal__list {
  margin-bottom: 1rem;
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 1.5rem;
}

/* ============================ sign up ================================= */

.sign-up__checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #60666b;
  background: transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 7px;
}

.sign-up__checkbox input[type='checkbox']::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  opacity: 0;
  padding: 7px;
}

.sign-up__checkbox input[type='checkbox']:checked::before {
  opacity: 1;
}

.sign-up__link {
  color: #00c5f4;
}

.sign-up__link:hover {
  text-decoration: underline;
}

/* ============================ Custom 404 - Not Found Page ================================= */

.not-found__container {
  min-height: 50vh;
}

.not-found__link {
  color: #00c5f4;
  font-weight: 600;
}

.not-found__link:hover {
  text-decoration: underline;
}

.stats-chart__container {
  background-color: #032436;
  width: 1280px;
  border-radius: 25px;
}

.stats-legend__container {
  display: flex;
  flex-direction: column;
}

.stats-legend__buttons {
  text-align: center;
  color: white;
  width: 8rem;
  border-radius: 9999px;
  padding: 0.5rem 0;
  margin: 0.95rem 0;
}

.stats-line-chart__tooltip {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  line-height: 2rem;
}

.stats-chart__icon--white {
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(176deg) brightness(115%) contrast(112%);
}

.stats-chart__icon--rotate90 {
  transform: rotate(90deg);
}

.stats-chart__rating-container {
  color: white;
  text-align: center;
  width: 128px;
  padding: 1.0rem 0;
  margin-left: 1.35rem;
  border-top-width: 1px;
  border-color: #ccd1d4;
}

.stats-chart__rating {
  font-size: 36px;
  font-weight: 500;
}

/* PRELOADER ANIMATION */
@keyframes preloader_img {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@media (min-width: 640px) {
  .header__nav--open {
    all: unset;
  }
}