@import url("./dev..css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM INPUT AUTO-FILL */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* FONT-FAMILY HELVETICAMED */
@layer base {
  @font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../../public/assets/fonts/HelveticaMedExt.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  .font-HelveticaNeueMedium {
    font-family: "HelveticaNeueMedium";
  }

  /* FONT-FAMILY SEGOE-UI */
  @font-face {
    font-family: "SegoeUI";
    src: url("../../public/assets/fonts/SegoeUI.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

.font-Segoe {
  font-family: "SegoeUI";
}

body {
  background-color: #000b13 !important;
}



/* BLUE-BORDER GRADIENT */
.blue_linear_gradient::after {
  background: linear-gradient(148.79deg, #11568c 17.97%, #00c5f4 91.1%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.blue_linear_gradient {
  -webkit-backdrop-filter: blur(17.5px);
  backdrop-filter: blur(17.5px);
}

/* BACKGROUDN-IMG */
.hero_homepage_bg {
  background-image: url("/assets/img/webp/header_bg.webp");
}

.bg-about-hero {
  background-image: url("/assets/img/webp/about-hero-img.webp");
}

.bg-new-hero-img {
  background-image: url("/assets/img/webp/news-hero-img.webp");
}

.bg-signup-hero-img {
  background-image: url("/assets/img/webp/sing-up-hero-img.webp");
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #000b13;
}

::-webkit-scrollbar-thumb {
  background-color: #00c5f4;
}

/* CUSTOM SCROLLBAR FOR FIREFOX */
html {
  scrollbar-color: #000b13 #00c5f4;
  scrollbar-width: thin;
}

/* RECENT NEWS SLIDER HEIGHT  */
@media (max-width: 1023.9px) {
  #recentnews_slider .slick-track {
    display: flex !important;
  }

  #recentnews_slider .slick-slide {
    height: inherit !important;
    display: flex !important;
  }

  #recentnews_slider .slick-slide>div {
    display: flex;
  }
}