@import url('./dev..css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM INPUT AUTO-FILL */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* FONT-FAMILY HELVETICAMED */
@layer base {
  @font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../../public/assets/fonts/HelveticaMedExt.ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../../public/assets/fonts/HelveticaNeueLight.ttf');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../../public/assets/fonts/HelveticaNeueRegular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  .font-HelveticaNeueMedium {
    font-family: 'HelveticaNeueMedium';
  }

  .font-HelveticaNeueRegular {
    font-family: 'HelveticaNeueRegular';
  }

  .font-HelveticaNeueLight {
    font-family: 'HelveticaNeueLight';
  }

  /* FONT-FAMILY SEGOE-UI */
  @font-face {
    font-family: 'SegoeUI';
    src: url('../../public/assets/fonts/SegoeUI.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

.font-Segoe {
  font-family: 'SegoeUI';
}

body {
  background-color: #000b13 !important;
}

/* BLUE-BORDER GRADIENT */
.container__border--blue-gradient::after {
  background: linear-gradient(148.79deg, #11568c 17.97%, #00c5f4 91.1%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.container__border--blue-gradient {
  -webkit-backdrop-filter: blur(17.5px);
  backdrop-filter: blur(17.5px);
}

/* BACKGROUND-IMG */
.home-page__hero-bg {
  background-image: url('/assets/img/webp/header_bg.webp');
}

.about-page__hero-bg {
  background-image: url('/assets/img/webp/about-hero-img.webp');
}

.news-page__hero-bg {
  background-image: url('/assets/img/webp/news-hero-img.webp');
}

.signup-page__hero-bg,
.contact-us-page__hero-bg {
  background-image: url('/assets/img/webp/sing-up-hero-img.webp');
}

/* CUSTOM SCROLLBAR  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #000b13;
}

::-webkit-scrollbar-thumb {
  background-color: #00c5f4;
}

/* CUSTOM SCROLLBAR FOR FIREFOX */
html {
  scrollbar-color: #000b13 #00c5f4;
  scrollbar-width: thin;
}
.scroll--hidden ::-webkit-scrollbar {
  width: 0px !important;
  height: 0 !important;
}

/* ==== ==== */
.news-loader__animation {
  overflow: hidden;
  background: #d0d0d0;
}

.news-loader__animation::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  animation: loading 3s infinite;
  background: linear-gradient(to right, transparent, #807b7baf, transparent);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00C5F4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00C5F4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.toggle-scale {
  transform: scale(0.8)
}