@import url("./dev..css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../../public/assets/fonts/HelveticaMedExt.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "SegoeUI";
    src: url("../../public/assets/fonts/SegoeUI.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

}

body {
  background-color: #000b13 !important;
}

.hero_homepage_bg {
  background-image: url('/assets/img/png/hero_bg.png');
}

.font-Segoe {
  font-family: "SegoeUI";
}

.font-HelveticaNeueMedium {
  font-family: "HelveticaNeueMedium";
}

.blue_Linear_Gradient::after {
  content: "";
  inset: 0;
  padding: 1px;
  background: linear-gradient(148.79deg, #11568c 17.97%, #00c5f4 91.1%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border-radius: 30px;
}

.blue_Linear_Gradient {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 0px 150px -30px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(17.5px);
  pointer-events: auto;
  z-index: 0 !important;
}