@import "@/styles/shared/fonts";

// Components
@import "@/styles/components/header";

// Pages
@import '@/styles/index';


.absolute {
  position: absolute;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica";
}